//Arquivo de cores

$beige-normal: #dbd5c9;
$white-normal: #FFFFFF;
$gray-light: #e8e8e8;
$gray-normal:  #c1c1c1;
$dark-gray: #403a3a;
$dark-gray2: #555;
$dark-black: #000;
$red-normal: #f09046;
$green-normal: #48c079;


